* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: orange;
}

/* .startbutton {
  position: absolute;
  top: 50%;
  left: 50%;
} */

/*start quiz button styling*/
.startbutton button {
  font-size: 25px;
  padding: 15px 30px;
}

.info_box {
  width: 540px;
  background: white;
  border-radius: 5px;
  text-align: center;
  margin-left: 400px;
}

.info_box .info_title {
  height: 60px;
  width: 540px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.info_box .info_list {
  padding: 15px 35px;
}

.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .buttons {
  height: 60px;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  padding: 0 35px;
  border-top: 1px white;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px orangered;
  background: orange;
  border-radius: ;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
